[Desktop Entry]
Version=1.0
Name=Google
Comment=Google Search
Exec=xdg-open https://www.google.com/
Icon=/usr/share/banque du numérique/icons/google_128_128.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
